html {
    font-size: 16px;
    font-family: Verdana, serif;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

/* Header */

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 24px;
    height: 4rem;
    background-color: white;
    z-index: 5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li a {
    display: block;
    text-decoration: none;
}

.left li {
    float: left;
}

.left a {
    padding: 0.875rem 0;
}

.left .name a {
    padding: 1.4375rem 0;
}

.right li {
    float: right;
}

.right a {
    padding: 1.4375rem 0.5rem;
}

/* Hero */

#sign-up-section {
    display: flex;
    align-items: center;
    position: relative;
    top: 4rem;
    padding: 2rem 1.5rem;
    background-color: lightgray;
}

.banner {
    width: 60%;
}

#sign-up-section .content {
    width: 40%;
    padding: 0 3rem 0 1.5rem;
}

#sign-up-section .content h1 {
    margin: 0;
}

#sign-up-section .sub {
    margin: 1.5rem 0;
}

#sign-up-section .button {
    background-color: darkgray;
    padding: 0.5rem 0;
    text-align: center;
}

/* Informational Section */

#informational-section {
    display: flex;
    align-items: flex-start;
    position: relative;
    top: 4rem;
    padding: 2rem 0 2rem 1.5rem;
}

.features {
    width: 40%;
    margin-left: 1.5rem;
    border-left: 1px solid lightgray;
}

#informational-section .image-container {
    width: 35%;
    padding: 1rem;
}

#informational-section .feature-content {
    width: 65%;
}

#informational-section .feature-1, .feature-2, .feature-3 {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#informational-section .feature-3 {
    background-color: lightgray;
}

#informational-section .sub {
    padding: 0.5rem 0;
}

#informational-section .banner-content {
    width: 100%;
}

/* Start Learning Section */

#learning-section {
    position: relative;
    top: 4rem;
    padding: 0 2.5rem;
    background-color: lightgray;
}

#learning-section .header {
    padding: 2rem 0;
    text-align: center;
}

#learning-section .features {
    display: flex;
}

#learning-section .feature {
    margin: 2rem;
}

#learning-section .image-container {
    height: auto;
}

#learning-section img {
    width: 100%;
}

#learning-section .content {
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: white;
}

#learning-section .content h3 {
    padding: 0;
}

#learning-section .content h4 {
    padding: 0.5rem 0;
}

#learning-section .content p {
    padding: 0;
}
